.banner{
    background: var(--cor-banner);
    color: var(--cor-branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo{
    font-size: 18px;
    font-weight: 700;
}

.banner__texto{
    font-size: 16px;
    font-weight: 500;
    padding: 1em;
}

.banner__pesquisa{
    padding: 1em;
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--cor-branco);
    border-radius: 24px;
    color: var(--cor-branco);
}

.banner__pesquisa::placeholder{
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    color: var(--cor-branco);
    background: url(img/Vector.svg) no-repeat;
    background-position: 1em;
    text-align: center;

}

@media screen and (min-width: 1024px) {
    
    .banner__titulo{
        font-size: 36px;
        font-weight: 700;
    }

    .banner__pesquisa{
        width: 50%;
    }


    .banner{
        background: var(--cor-banner);
        color: var(--cor-branco);
        text-align: center;
        padding: 4.7em 2em;
    }

    .banner__pesquisa::placeholder{
        background-position: 7em;
        color: var(--cor-branco);
    }
}

@media screen and (min-width: 1728px) {
    
    .banner{
        padding: 6em 4em;
      
    }
   
    .banner__pesquisa{
        width: 30%;
    }
}