.carrossel{

    text-align: center;
}

.carrossel__titulo{
    background-color: var(--cor-branco);
    padding: 1em 0 0.5em 0;
    font-size: 18px;
    font-weight: 700;
    color: var(--cor-laranja);
    text-transform: uppercase;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next, 
.swiper-scrollbar{
    display: none;
}

.swiper-pagination{
    position: initial;
    padding: .5em;
}

@media screen and (min-width: 1024px){

    .swiper{
        width: 60%;
        padding: 4em;
    }

    .swiper-slide{
        padding-right: 2em;
    }

    .carrossel__titulo{
        padding: 3em 0 1em 0;
        font-size: 26px;
    }

    .swiper-pagination{
        position: initial;
        padding-bottom: 2em;
    }

   
}

@media screen and (min-width: 1728px){

    .principal{
        display: flex;
    }

    .swiper{
        width: 35%;
    }

   
}