@import url("header.css");
@import url("banner.css");
@import url("carrossel.css");
@import url("card.css");
@import url("topicos.css");
@import url("rodapecss.css");
@import url("banner.css");

:root{
   --cor-branco: #FFFFFF;
   --cor-de-fundo: #EBECEE;
   --cor-banner: linear-gradient(97.54deg, #002F52 35.49%, #246797 165.37%);
   --cor-menu-hamburguer:  linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
   --cor-laranja: #EB9B00;
   --cor-titulo: #002F52;
   --fonte-principal: "Poppins";
   --font-secundaria: "Josefin sans"
   --cor-preta:   #000000;


}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

