.topicos{
    background: var(--cor-banner);
}

.topicos__titulo{
    text-align: center;
    padding: 1em;
    margin: 1em;
    font-size: 16px;
    font-weight: 300;
    color: var(--cor-branco);
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.topicos__item{
    padding: 1em;
    margin: 1em;
    font-size: 14px;
    font-weight: 700;
    background-color: var(--cor-laranja);

}

.topicos__item a{
    text-decoration: none;
    color: var(--cor-branco);

}

.novidades{
    padding: 1em;
    background-color: var(--cor-branco);
}

.novidades__titulo{
    font-size: 18px;
    font-weight: 500;
    color: var(--cor-banner);
    text-align: left;
    padding-left: .9em;
}

.novidades__descricao{
    font-size: 16px;
    font-weight: 300;
    padding: 1em;
    text-align: left;
    color: var(--cor-titulo);
}

.novidades__input{
    width: 95%;
    padding: .5em;
    border-radius: 25px;
    border: 1px solid var(--cor-titulo);
    
}

.novidades__input::placeholder{
    font-family: var(--fonte-principal);
    color: var(--cor-titulo);
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    background-image: url(img/email.svg);
    background-repeat: no-repeat;
    background-position: 2em;
}


@media screen and (min-width: 1024px) {
    
    .topicos{
        padding: 3em;

    }

    .topicos__titulo{
        font-size: 24px;
        margin-top: 0;

    }

    .topicos__item a:hover{
        font-size: 24.5px;
        transition: 1s;
    }

    .topicos__item{
        font-size: 24px;
    }

    .topicos__item:nth-child(1){
        order: 1;
    }

    .topicos__item:nth-child(2){
        order: 3;
    }

    .topicos__item:nth-child(3){
        order: 4;
    }

    .topicos__item:nth-child(4){
        order: 5;
    }

    .topicos__item:nth-child(5){
        order: 6;
    }

    .topicos__item:nth-child(6){
        order: 8;
    }

    .topicos__item:nth-child(7){
        order: 2;
    }

    .topicos__item:nth-child(8){
        order: 7;
    }

    .novidades{
        display: grid;
        gap: 0;
        padding: 2em;
       
    }

    .novidades h6:nth-child(1){
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 0;
        margin: 0;
        font-size: 24px;
        text-align: center;
    }

    .novidades p:nth-child(2){
        grid-column: 1/2;
        grid-row: 3/4;
        padding: 0;
        margin: 0;
        font-size: 16px;
        text-align: center;
    }

    .novidades input:nth-child(3){
        grid-column: 2/3;
        grid-row: 2/3;
        margin: 0;
    }

}

@media screen and (min-width: 1024px){

    .topicos{
        padding: 3em 1em;
    }

    .novidades{
        padding: 2em 6em;
    }

}